# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Flask configuration
instance/
*.sqlite3

# Pyenv
.python-version

# Environments
.env
.env.*

# Logs and debug files
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sql

# Local development files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Virtual environment
venv/
.venv/

# System files
.DS_Store
Thumbs.db

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Test artifacts
/.test_output/